.carouselImage {
    width: 800px;
    height: 600px;
    object-fit: cover;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.leftArrow {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 2rem;
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 2rem;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    font-size: 1.3rem;
}
